/*header*/










/*badge*/









/*secton-ville*/










/*actualités */




.coumba-card{
border: 1px solid #009E6070;
height: 53vh;
}
.coumba-events h6 {
color: #3A75C4;
}
.coumba-events .card{
background-color: #009E6070;
border: none;
margin-top: auto;

}
.coumba-imgcard{
padding: 2px;
}
.coumba-events input{
background-color: #3A75C470;
border-radius:5px;
border: none;
padding: 12px;
text-align: center;
margin-left: 4%;
}
.coumba-card .badge{
color: hsl(214, 54%, 50%);
width: 110px;
border-radius: 33% 33% 33% 33%;
height: 22px;
position: absolute;
right: 10px;
top: 55%;

}
.coumba-events button{
margin-top: 20px;
background-color:#FCD116;
border-radius: 50px;
border: none;
width: 150px;
margin-left: 20%;
padding: 3px;
}

/*geston_ville*/







/*footer*/